# top-most EditorConfig file
root = true

[*]
insert_final_newline = true

[*.{kt, groovy}]
indent_style = space

[*.yml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
