# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
max_line_length = 120

[*.{kt,groovy}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
