* text eol=auto

*.bat           text eol=crlf

*.css           diff=css
*.htm           eol=lf diff=html
*.html          eol=lf diff=html
*.md            eol=lf diff=markdown

*.jar           binary
*.png           binary
*.otf           binary
*.eot           binary
*.ttf           binary
*.woff          binary
*.woff2         binary
*.ico           binary
