[versions]
dokka = "1.8.10"
jacoco = "0.8.8"
kotlin = "1.8.10"
ktlint = "0.48.2"
junit = "5.9.2"
contester = "0.2.0"

[libraries]
githubRelease-gradle = "com.github.breadmoirai:github-release:2.4.1"
nexusPublish-gradle = "io.github.gradle-nexus:publish-plugin:1.3.0"
semver4j-gradle = "com.vdurmont:semver4j:3.1.0"

kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlin" }
kotlin-compilerEmbeddable = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-gradlePluginApi = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin-api", version.ref = "kotlin" }
kotlin-mainKts = { module = "org.jetbrains.kotlin:kotlin-main-kts", version.ref = "kotlin" }
kotlin-stdlibJdk8 = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
kotlin-reflection = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }

kotlinx-html = "org.jetbrains.kotlinx:kotlinx-html-jvm:0.8.0"
kotlinx-coroutines = "org.jetbrains.kotlinx:kotlinx-coroutines-core:1.6.4"

# This represents the the oldest AGP version that is supported by detekt.
# This should only be updated when updating the minimum version supported by detekt's Gradle plugin.
android-gradle-minSupported = "com.android.tools.build:gradle:7.0.0"

# This version of AGP is used for testing and should be updated when new AGP versions are released to ensure detekt's
# Gradle plugin remains compatible.
android-gradle-maxSupported = "com.android.tools.build:gradle:7.4.2"

ktlint-core = { module = "com.pinterest.ktlint:ktlint-core", version.ref = "ktlint" }
ktlint-rulesetStandard = { module = "com.pinterest.ktlint:ktlint-ruleset-standard", version.ref = "ktlint" }
ktlint-rulesetExperimental = { module = "com.pinterest.ktlint:ktlint-ruleset-experimental", version.ref = "ktlint" }
slf4j-nop = { module = "org.slf4j:slf4j-nop", version = "1.7.36" }
slf4j-simple = { module = "org.slf4j:slf4j-simple", version = "1.7.36" }

junit-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit" }

sarif4k = "io.github.detekt.sarif4k:sarif4k:0.2.0"
assertj = "org.assertj:assertj-core:3.24.2"
reflections = "org.reflections:reflections:0.10.2"
mockk = "io.mockk:mockk:1.13.4"
snakeyaml = "org.snakeyaml:snakeyaml-engine:2.6"
jcommander = "com.beust:jcommander:1.82"
contester-breakpoint = { module = "io.github.davidburstrom.contester:contester-breakpoint", version.ref = "contester" }
contester-driver = { module = "io.github.davidburstrom.contester:contester-driver", version.ref = "contester" }
kotlinCompileTesting = { module = "com.github.tschuchortdev:kotlin-compile-testing", version = "1.5.0" }

[plugins]
binaryCompatibilityValidator = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version = "0.13.0" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
download = { id = "de.undercouch.download", version = "5.4.0" }
gradleVersions = { id = "com.github.ben-manes.versions", version = "0.46.0" }
pluginPublishing = { id = "com.gradle.plugin-publish", version = "1.1.0" }
shadow = { id = "com.github.johnrengelman.shadow", version = "8.1.0" }
