[versions]
dokka = "1.9.0"
jacoco = "0.8.10"
kotlin = "1.9.10"
ktlint = "0.50.0"
junit = "5.10.0"
poko = "0.15.0"

[libraries]
semver4j = "com.vdurmont:semver4j:3.1.0"

kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlin" }
kotlin-compilerEmbeddable = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-gradlePluginApi = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin-api", version.ref = "kotlin" }
kotlin-mainKts = { module = "org.jetbrains.kotlin:kotlin-main-kts", version.ref = "kotlin" }
kotlin-stdlibJdk8 = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
kotlin-reflection = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }

kotlinx-html = "org.jetbrains.kotlinx:kotlinx-html-jvm:0.9.1"
kotlinx-coroutines = "org.jetbrains.kotlinx:kotlinx-coroutines-core:1.7.3"

# This represents the the oldest AGP version that is supported by detekt.
# This should only be updated when updating the minimum version supported by detekt's Gradle plugin.
android-gradle-minSupported = "com.android.tools.build:gradle:8.1.1"

# This version of AGP is used for testing and should be updated when new AGP versions are released to ensure detekt's
# Gradle plugin remains compatible.
android-gradle-maxSupported = "com.android.tools.build:gradle:8.1.1"

ktlintRulesetStandard = { module = "com.pinterest.ktlint:ktlint-ruleset-standard", version.ref = "ktlint"  }
slf4j-nop = { module = "org.slf4j:slf4j-nop", version = "2.0.9" }
slf4j-simple = { module = "org.slf4j:slf4j-simple", version = "2.0.9" }

junit-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit" }

sarif4k = "io.github.detekt.sarif4k:sarif4k:0.4.0"
assertj = "org.assertj:assertj-core:3.24.2"
classgraph = "io.github.classgraph:classgraph:4.8.162"
mockk = "io.mockk:mockk:1.13.7"
snakeyaml = "org.snakeyaml:snakeyaml-engine:2.7"
jcommander = "org.jcommander:jcommander:1.83"
kotlinCompileTesting = { module = "com.github.tschuchortdev:kotlin-compile-testing", version = "1.5.0" }
poko-annotations = { module = "dev.drewhamilton.poko:poko-annotations", version.ref = "poko" }

[plugins]
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
binaryCompatibilityValidator = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version = "0.13.2" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
download = { id = "de.undercouch.download", version = "5.5.0" }
gradleVersions = { id = "com.github.ben-manes.versions", version = "0.48.0" }
pluginPublishing = { id = "com.gradle.plugin-publish", version = "1.2.1" }
poko = { id = "dev.drewhamilton.poko", version.ref = "poko" }
nexusPublish = { id = "io.github.gradle-nexus.publish-plugin", version = "1.3.0" }
shadow = { id = "com.github.johnrengelman.shadow", version = "8.1.1" }
githubRelease = { id = "com.github.breadmoirai.github-release", version = "2.4.1" }
