.tag {
    font-size: 0.675rem;
    border: 1px solid var(--ifm-color-secondary-darkest);
    cursor: default;
    margin-right: 6px;
    margin-bottom: 6px !important;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
}

.tag .textLabel {
    margin-left: 8px;
}

.tag .colorLabel {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}