name: Code Coverage

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  publish-code-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # v3

      - name: Setup Java
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Generate Coverage Report
        uses: gradle/gradle-build-action@5056fa9d50478a14af3c9925c12ca02318659d3e # v2
        with:
          gradle-home-cache-cleanup: true
          arguments: jacocoMergedReport
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}

      - name: Publish Coverage
        if: success()
        uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3
        with:
          files: ./code-coverage-report/build/reports/jacoco/jacocoMergedReport/jacocoMergedReport.xml
          verbose: true
