name: "Danger"

on:
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]
    branches:
      - "**"

permissions:
  actions: write
  checks: write
  contents: write
  issues: write
  pull-requests: write
  statuses: write

jobs:
  danger:
    if: ${{ github.event.sender != 'codecov' }}
    name: Danger JS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Setup Node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: "website/yarn.lock"

      - name: Install Yarn Dependencies
        working-directory: bots/
        run: yarn install

      - name: Run Danger
        working-directory: bots/
        run: yarn danger ci
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
