name: "Danger"

on:
  pull_request_target:
    types: [ assigned, closed, opened, synchronize, reopened ]

permissions:
  actions: write
  checks: write
  contents: write
  issues: write
  pull-requests: write
  statuses: write

jobs:
  danger:
    if: github.event.sender != 'codecov' && github.repository == 'detekt/detekt'
    name: Danger JS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: "18"
          cache: "yarn"
          cache-dependency-path: "website/yarn.lock"

      - name: Install Yarn Dependencies
        working-directory: bots/
        run: yarn install --frozen-lockfile

      - name: Run Danger
        working-directory: bots/
        run: yarn danger ci
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DETEKT_CI_GITHUB_USER_TOKEN }}
