name: Deploy Snapshot

on:
  push:
    branches:
      - 'master'

jobs:
  gradle:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2

    - name: Cache Gradle Caches
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/
        key: cache-gradle-deploy-snapshot
    - name: Cache Gradle Wrapper
      uses: actions/cache@v1
      with:
        path: ~/.gradle/wrapper/
        key: cache-wrapper-deploy-snapshot

    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Build detekt
      run: ./gradlew build --build-cache --parallel -PwarningsAsErrors=true

    - name: Deploy Snapshot
      run: ./gradlew artifactoryPublish -Dsnapshot=true --stacktrace
      if: ${{ github.repository == 'arturbosch/detekt'}}

    # We stop gradle at the end to make sure the cache folders
    # don't contain any lock files and are free to be cached.
    - name: Stop Gradle
      run: ./gradlew --stop
