name: FOSSA License Scan

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  fossa-scan:
    if: github.repository == 'detekt/detekt'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Run FOSSA Scan
        uses: fossas/fossa-action@65a5a12203e31a5fcc54154db9c52647f84b1169 # v1
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
