name: FOSSA License Scan

on:
  push:
    branches:
      - main

jobs:
  fossa-scan:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Run FOSSA Scan
        uses: fossas/fossa-action@v1
        if: ${{ github.repository == 'detekt/detekt'}}
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
