name: Pre Merge Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  gradle:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [8, 11, 16]
    runs-on: ${{ matrix.os }}
    env:
      JDK_VERSION:  ${{ matrix.jdk }}
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - name: Cache Gradle Folders
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches/
          ~/.gradle/wrapper/
        key: cache-gradle-${{ matrix.os }}-${{ matrix.jdk }}-${{ hashFiles('gradle/libs.versions.toml') }}
        restore-keys: |
          cache-gradle-${{ matrix.os }}-${{ matrix.jdk }}-
          cache-gradle-${{ matrix.os }}-
          cache-gradle-
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'adopt'
    - name: Build detekt
      run: ./gradlew build moveJarForIntegrationTest -x detekt
    - uses: actions/upload-artifact@v2
      with:
        name: heap-dump
        path: '**.hprof'
        if-no-files-found: ignore
    - name: Run detekt-cli --help
      run: java -jar ./build/detekt-cli-all.jar --help
    - name: Run detekt-cli to verify generated detekt-default-config.yml
      run: java -jar ./build/detekt-cli-all.jar --build-upon-default-config --input detekt-core/src/main
    - name: Run detekt-cli with argsfile
      run: java -jar ./build/detekt-cli-all.jar "@./config/detekt/argsfile"

  verify-generated-config-file:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - name: Cache Gradle Folders
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches/
          ~/.gradle/wrapper/
        key: cache-gradle-ubuntu-latest-11-verifygenerator-${{ hashFiles('gradle/libs.versions.toml') }}
        restore-keys: |
          cache-gradle-ubuntu-latest-11-verifygenerator-
          cache-gradle-ubuntu-latest-11-
          cache-gradle-ubuntu-latest-
          cache-gradle-
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'adopt'
    - name: Verify Generated Detekt Config File
      run: ./gradlew verifyGeneratorOutput

  compile-test-snippets:
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache Gradle Folders
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-ubuntu-latest-11-compiletestsnippets-${{ hashFiles('gradle/libs.versions.toml') }}
          restore-keys: |
            cache-gradle-ubuntu-latest-11-compiletestsnippets-
            cache-gradle-ubuntu-latest-11-
            cache-gradle-ubuntu-latest-
            cache-gradle-
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Build and compile test snippets
        run: ./gradlew test -x ":detekt-gradle-plugin:test" -Pcompile-test-snippets=true
