name: Build and Deploy Website

on:
  push:
    branches:
      - main
  pull_request:

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}

permissions:
  contents: write  # for JamesIves/github-pages-deploy-action to push changes in repo

jobs:
  build-detekt-docs:
    if: github.repository == 'detekt/detekt'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Setup Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@d9336dac04dea2507a617466bc058a3def92b18b # v3
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: '18'
          cache: 'yarn'
          cache-dependency-path: 'website/yarn.lock'

      - name: Run generateWebsite
        run: ./gradlew :detekt-generator:generateWebsite

      - name: Install Yarn Dependencies
        working-directory: website/
        run: yarn install --frozen-lockfile

      - name: Build the Detekt Website
        working-directory: website/
        run: yarn build

      - name: Deploy GitHub Pages (only on main)
        uses: JamesIves/github-pages-deploy-action@5c6e9e9f3672ce8fd37b9856193d2a537941e66c # v4
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          branch: gh-pages
          folder: website/build/
